<div class="container">
  <div class="nes-container with-title is-centered">
    <p class="title">Take a look around!</p>
    <ul class="homepage-list">
      <li><%= link_to "Games", games_path %></li>
      <li><%= link_to "Systems", systems_path %></li>
    </ul>
    <div class="game-search-bar d-flex">
      <% if user_signed_in? %>
        <%= form_tag games_path, class: "d-flex mb-3", method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            required: true,
            class: "nes-field",
            placeholder: " Find a game"
          %>
          <%= submit_tag "Search", class: "nes-btn is-primary" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="nes-container with-title is-centered">
    <p class="title">About this site</p>
    <p>Made with <i class="nes-icon is-small heart"></i> by the nerds from batch 894. The code is open to anyone who wishes to contribute!</p>
    <p>The actual purpose of this site is to provide users with a place to rant about games they've played, be they new releases or old classics.</p>
    <p>Cool arbitrary progress bar:</p>
    <progress class="nes-progress is-warning" value="30" max="100"></progress>
  </div>
</div>
