<div class="container">
  <div class="nes-container with-title is-centered">
    <p class="title"><%= @system.name %></p>
    <p>Released:<%= @system.year %></p>
    <p>Company: <%= @system.company %></p>
  </div>
</div>
<br>
<div class="container">
  <div class="nes-container with-title is-centered">
    <p class="title">Games on <%= @system.name %></p>
    <ul class="d-flex">
      <% @games.each do |game| %>
        <li><%= game.name %></li>
      <% end %>
    </ul>
  </div>
</div>
<br>
<div class="container">
  <div class="nes-container with-title is-centered">
    <p class="title">Options</p>
    <%= link_to "Back", systems_path %>
    <%#= link_to "Add a game", new_game_path %>
  </div>
</div>
