<!DOCTYPE html>
<html>
  <head>
    <title>BitSizedReviews</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="./node_modules/nes.css/css/nes.min.css">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <div class="page-container">
      <div>
        <%= render 'shared/navbar' %>
      </div>
      <div>
        <%= render 'shared/flashes' %>
      </div>
      <div>
        <%= yield %>
      </div>
      <div>
        <%= render 'shared/footer' %>
      </div>
    </div>
  </body>
</html>
